{% extends "base.html" %}

<!-- shows the content on the page -->
{% block content %}
<!-- gets error messages -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <!--error message shows if there is one-->
                <div class="notification is-success">
                    {{ messages[0] }}
                </div>
            {% endif %} <!-- end of if statement -->
            {% endwith %}
{% from "_formhelpers.html" import render_field %}
<form method="POST" action="/entry">
    <dl>
        <!-- render fields from form.py -->
        {{ render_field(form.houseId) }}
        {{ render_field(form.date) }}
        {{ render_field(form.id) }}
        {{ render_field(form.eggs) }}
        {{ render_field(form.alive) }}
        {{ render_field(form.dead) }}
        {{ render_field(form.species) }}
        {{ render_field(form.cowbird) }}
        {{ render_field(form.damaged) }}
        {{ render_field(form.comment) }}
    </dl>
    <!-- render submit button -->
    <p>{{render_field(form.submit)}}<!--<input type="submit" value="submit">--></p>
</form>

{% endblock %}